{% extends "layouts/appeal-layout-no-link.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Appeal response</span>
      Case details summary
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of appeal
        </dt>
        <dd class="govuk-summary-list__value">
          Change of Circumstances
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-case-type">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Decision assisted dates
        </dt>
        <dd class="govuk-summary-list__value">
          12/04/27 (Decision under appeal), 13/04/27 (MR)
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-decision-assist">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          12/04/27 (Decision under appeal)
        </dt>
        <dd class="govuk-summary-list__value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat maximus nulla. Aenean ullamcorper commodo eleifend. Nulla laoreet lorem urna, quis ornare eros commodo ac.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-dates-preview-1">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          13/04/27 (MR)
        </dt>
        <dd class="govuk-summary-list__value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat maximus nulla. Aenean ullamcorper commodo eleifend. Nulla laoreet lorem urna, quis ornare eros commodo ac.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-dates-preview-1">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
      
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Which is the decision under appeal date?
        </dt>
        <dd class="govuk-summary-list__value">
          Date of Outcome Decision (27/05/27)
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-appeal-date">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is there another benefit?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['another-benefit'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="appeals-another-benefit">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      {% if data['another-benefit'] === "Yes" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Select the benefits that apply
          </dt>
          <dd class="govuk-summary-list__value">
            Carers, ESA, UC
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="appeals-benefit-answer">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the carer benefit?
          </dt>
          <dd class="govuk-summary-list__value">
            Standard<br/>Although [Title] [Surname] has identified a high level of personal restriction, [he she] [Select is,was] entitled to Carer's Allowance (see Page [Page No]). To be entitled to Carer's Allowance a person must provide at least 35 hours of care to another disabled person each week. The Tribunal may wish to explore this further. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="appeals-what-benefit">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the ESA benefit?
          </dt>
          <dd class="govuk-summary-list__value">
            Standard<br/>Although [Title] [Surname] has identified a high level of personal restriction, [he she] [Select is,was] entitled to Carer's Allowance (see Page [Page No]). To be entitled to Carer's Allowance a person must provide at least 35 hours of care to another disabled person each week. The Tribunal may wish to explore this further. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="appeals-what-benefit-2">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the UC benefit?
          </dt>
          <dd class="govuk-summary-list__value">
            Standard<br/>Although [Title] [Surname] has identified a high level of personal restriction, [he she] [Select is,was] entitled to Carer's Allowance (see Page [Page No]). To be entitled to Carer's Allowance a person must provide at least 35 hours of care to another disabled person each week. The Tribunal may wish to explore this further. 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="appeals-what-benefit-3">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
      {% endif %}
    </dl>

    <form action="appeals-tasklist" method="post" class="govuk-form-group">
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Delete all data and refresh from PIPCS
        </a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
