{% extends "layouts/appeal-layout.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

  <div class="govuk-width-container">
    <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  </div>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="appeals-grounds-date" method="post" class="govuk-form-group">

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Appeal response</span>
          <h1 class="govuk-fieldset__heading">
            Grounds for supersession
          </h1>
        </legend>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and return
        </button>
      </div>
    </form>

  </div>
</div>

{% endblock %}
